services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: redhat
      MYSQL_DATABASE: wordpress

  wp:
    image: wordpress
    ports:
      - "80:80"
    depends_on:
      - db
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: redhat
      WORDPRESS_DB_NAME: wordpress
